* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  transition: all 0.2s;
  font-family: "Open Sans", sans-serif;
}

/*UNIVERSAL*/
.hidden {
  opacity: 0;
  visibility: hidden;
}

.blur {
  filter: blur(5px);
}

.active {
  background: rgba(0, 0, 0, 0) !important;
}

.background {
  z-index: -100000000;
  width: 100%;
  height: 100%;
  background: url(../img/back01.jpg) no-repeat center center/cover;
  position: fixed;
  bottom: 0;
}

.btn {
  border: none;
  outline: none;
  cursor: pointer;
  border-radius: 0.5rem;
}

#crypto {
  overflow-y: scroll;
  width: 22vw;
  height: 96vh;
  position: fixed;
  top: 2vh;
  left: 5vw;
  overflow-x: visible;
}

.info-div {
  background: rgba(0, 0, 0, 0.5);
  width: 20vw;
  height: 20vh;
  position: fixed;
  border-radius: 25px;
  color: white;
  text-align: left;
  margin-bottom: 2vh;
}

.info-div:hover {
  background: rgba(0, 0, 0, 0.8);
}

.crypto-div {
  position: relative;
  cursor: pointer;
}

.coin {
  height: 100%;
  border-radius: 25px;
}

.info-div h3 {
  padding-left: 4rem;
}

#crypto img {
  position: relative;
  left: 70%;
  bottom: 40%;
}

.green span {
  color: rgb(0, 255, 0);
}

.red span {
  color: rgb(255, 0, 0);
}

.diesel-div {
  top: 2vh;
  right: 6vw;
}

#diesel {
  border-radius: 25px;
  height: 100%;
  background: url(../img/diesel.png) no-repeat center center/cover;
}

#diesel h3:first-child {
  padding-top: 1rem;
}

#diesel:hover {
  background: url(../img/diesel.png) no-repeat center;
}

#diesel-div:hover {
  background: black;
}

.modal-back,
.modal-back-weather {
  background: rgba(0, 0, 0, 0.7);
  position: fixed;
  width: 100%;
  height: 100%;
}

.modal,
.modal-weather {
  color: white;
  position: fixed;
  width: 50%; /*970*/
  height: 60%; /*550.8*/
  top: 20%;
  left: 25%;
  z-index: 1000;
  border-radius: 20px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(4, 1fr);
  border: 2px solid rgb(61, 61, 61);
}

.modal {
  background: url(../img/modal-crypto.jpg) no-repeat center center/cover;
}

.modal-coin-name {
  grid-column: 1/4;
}

.btn-close,
.btn-close-weather {
  padding: 0 1rem;
  border: 0;
  position: absolute;
  right: 0;
  cursor: pointer;
  background: none;
  font-size: 2rem;
  color: white;
}

.modal-coin-name {
  width: 100%;
  margin: auto;
  text-align: center;
  padding-top: 1rem;
}

.modal-img {
  position: absolute;
  left: -5rem;
  top: -5rem;
  width: 200px;
  height: 200px;
  border-radius: 50%;
  z-index: -1;
  border: 2px solid rgb(61, 61, 61);
  background: rgb(88, 88, 88);
}

.modal p {
  display: inline;
}

.modal h3 {
  padding-top: 2rem;
  padding-bottom: 1rem;
  border-top: 1px solid rgb(61, 61, 61);
  width: 100%;
  height: 100%;
  display: grid;
  text-align: center;
}

.modal h3:nth-child(5),
.modal h3:nth-child(8),
.modal h3:nth-child(11) {
  border-left: 1px solid rgb(61, 61, 61);
  border-right: 1px solid rgb(61, 61, 61);
}

/* width */
::-webkit-scrollbar {
  width: 1vw;
}

/* Track */
::-webkit-scrollbar-track {
  background: rgba(255, 255, 255, 0.05);
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: rgba(0, 0, 0, 0.5);
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: rgba(0, 0, 0, 0.8);
}

.weather {
  text-align: center;
  top: 2vh;
  left: 32vw;
  position: fixed;
  border-radius: 25px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  color: white;
  width: 36vw;
  height: 20vh;
  cursor: pointer;
  background: rgba(0, 0, 0, 0.5);
}

#location {
  grid-column: 1/6;
  padding-top: 1vh;
}

.weath-info {
  width: 7vw;
  margin-bottom: 1.5rem;
  text-align: center;
}

#weath-icon {
  width: 7vw;
  height: 3.5rem;
  display: inline-block;
}

#weath-temp i,
#weath-wind i {
  padding-right: 0.6rem;
}

#weath-cond {
  text-align: center;
  margin: auto;
  display: grid;
  align-items: center;
  justify-content: center;
}

#weath-border {
  border-left: 1px solid white;
  border-right: 1px solid white;
}

.modal-weather {
  background: url(../img/modal-weather.jpg) no-repeat center center/cover;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(4, 1fr);
}

.modal-weather-days {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  width: 100%;
  height: 100%;
}

.modal-day-4 {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  text-align: center;
  align-items: center;
  justify-content: center;
  width: 100%;
  background: rgba(0, 0, 0, 0.2);
  padding: 1rem 0;
}

.modal-day-4 i {
  font-size: 2rem;
}

.modal-day-temps {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  width: 100%;
}

.modal-day-temps h3 {
  width: 100%;
  text-align: center;
  height: 100%;
}

.modal-day-temps h3:nth-child(2),
.modal-day-temps h3:nth-child(4),
.modal-day-temps h3:nth-child(6) {
  border-left: 1px solid white;
  border-right: 1px solid white;
}

.modal-weather h2 {
  width: 100%;
  height: 100%;
  display: grid;
  text-align: center;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  background: rgba(0, 0, 0, 0.2);
}

.modal-weather h2:nth-child(2) {
  border-left: 1px solid rgb(255, 255, 255);
  border-right: 1px solid rgb(255, 255, 255);
}

.modal-weather h2:hover {
  background: rgba(0, 0, 0, 0.1);
}

.modal-weather-img {
  width: 64px;
  height: 64px;
  opacity: 1;
  left: -2rem;
  top: -2rem;
  z-index: 5;
}

.search__city {
  width: 20.7rem;
  height: 9rem;
  position: absolute;
  left: 32vw;
  top: 2vh;
  background: rgba(0, 0, 0, 0.3);
  border-radius: 1rem;
}
.search__city--results {
  top: 15rem;
  left: auto;
  right: 32vw;
}
.search__city--result {
  color: white;
  font-size: 1.5rem;
  padding-left: 2rem;
}
.search__city--result:first-child {
  padding-top: 1rem;
}
.search__city--label {
  display: block;
  color: white;
  padding-top: 1vh;
  padding-bottom: 3rem;
  text-align: center;
  font-size: 2rem;
}
.search__city--input {
  height: 2rem;
  border-radius: 0.5rem;
  border: none;
  outline: none;
  margin-left: 2rem;
}
.search__city--btn {
  cursor: pointer;
  width: 5rem;
  height: 2rem;
  border-radius: 0.5rem;
  border: none;
  outline: none;
  background: rgba(255, 255, 255, 0.8);
}
.search__city--btn:hover {
  background: white;
}

.show-search-bar {
  position: absolute;
  width: 2rem;
  height: 2rem;
  border-radius: 0.5rem;
  cursor: pointer;
  right: calc(32vw + 1rem);
  top: calc(1rem + 2vh);
  border: none;
  outline: none;
}
.show-search-bar p {
  font-size: 1.2rem;
  padding: 0;
}
.show-search-bar img {
  width: 80%;
}
.show-search-bar:hover {
  background: white;
}

.btn__close--search {
  width: 2rem;
  height: 2rem;
  position: absolute;
  right: 1rem;
  top: 1rem;
  background: rgba(255, 255, 255, 0.8);
  transition: all 0.2s;
}
.btn__close--search:hover {
  background: white;
}

h3 {
  font-size: 1rem;
  font-family: "Open Sans", sans-serif;
}

.links {
  background: rgba(255, 255, 255, 0.5);
  padding: 1rem 5rem;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  list-style: none;
  position: fixed;
  width: 30vw;
  bottom: 2vh;
  left: 35vw;
  border-radius: 25px;
}

.links a {
  background: rgba(98, 133, 82, 0.5);
  width: 70px;
  height: 70px;
  font-size: 2rem;
  color: white;
  text-align: center;
  margin: auto;
  display: grid;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  text-decoration: none;
  z-index: 5;
}

.links a:hover {
  background: rgb(98, 133, 82);
}

/*# sourceMappingURL=style.css.map */
