.crypto {
    overflow-y: scroll;
    width: 22vw;
    height: 96vh;
    position: fixed;
    top: 2vh;
    left: 5vw;
    overflow-x: visible;

    &__img {
        position: absolute;
        right: 1rem;
        bottom: 1rem;
    }
}

.info-div {
    background: $color-white;
    color: $color-dark-1;
    width: 20vw;
    height: 20vh;
    position: fixed;
    border-radius: 1rem;
    color: white;
    text-align: left;
    margin-bottom: 2vh;

    h1, h3 {
        color: inherit;
    }
}

.crypto-div {
    position:relative;
    cursor: pointer;
}

.coin {
    height: 100%;
    border-radius: 1rem;

    &__text {
        color: $color-dark-1;
    }
}

.info-div h3 {
    padding-left: 6.4rem;
}

.green span{
    color: rgb(0, 255, 0);
}

.red span{
    color: rgb(255, 0, 0);
}