.search {
    &__city {
        width: 20.7rem;
        height: 9rem;
        position: absolute;
        left: 32vw;
        top: 2vh;
        background: rgba(#000, .3);
        border-radius: 1rem;

        &--results {
            top: 15rem;
            left: auto;
            right: 32vw;
            height: auto;
            overflow: hidden;

        }

        &--result {
            color: white;
            font-size: 1.5rem;
            padding: 1rem 0rem 1rem 1rem;
            cursor: pointer;

            &:first-child {
                margin-top: 1rem;
            }

            &:last-child {
                margin-bottom: 1rem;
            }

            &:hover {
                background: #fff;
                color: #000;
            }
        }

        .no-match {
            cursor: default;
            
            &:hover {
                background: none;
                color: #fff;
            }
        }

        &--label {
            display: block;
            color: white;
            padding-top: 1vh;
            padding-bottom: 3rem;
            text-align: center;
            font-size: 2rem;
        }

        &--input {
            height: 2rem;
            border-radius: .5rem;
            border: none;
            outline: none;
            margin-left: 2rem;
        }

        &--btn {
            cursor: pointer;
            width: 5rem;
            height: 2rem;
            border-radius: .5rem;
            border: none;
            outline: none;
            background: rgba(#fff, .8);

            &:hover {
                background: rgba(#fff, 1);
            }
        }
    }
}

.show-search-bar {
    position: absolute;
    width: 2rem;
    height: 2rem;
    border-radius: .5rem;
    cursor: pointer;
    right: calc(32vw + 1rem);
    top: calc(1rem + 2vh);
    border: none;
    outline: none;

    p {
        font-size: 1.2rem;
        padding: 0;
    }

    img {
        width: 80%;
    }

    &:hover {
        background: rgba(#fff, 1);
    }
}

.btn__close--search {
    width: 2rem;
    height: 2rem;
    position: absolute;
    right: 1rem;
    top: 1rem;
    background: rgba(#fff, .8);
    transition: all .2s;

    &:hover {
        background: rgba(#fff, 1);
    }

}