.task-list {
        position: absolute;
        width: 20vw;
        height: 48rem;
        overflow: hidden;
        overflow-y: scroll;

    &__outer {
        position: absolute;
        width: 20vw;
        height: 56rem;
        border-radius: 1rem;
        right: 5vw;
        top: 24vh;
        background: white;
        border-radius: 1rem;
        overflow: hidden;
    }

    &__new-task {
        height: 8rem;
        position: relative;
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 20vw;
        background: white;
        margin: 0;
        padding: 0 9%;
        border-top-right-radius: 1rem;
        border-top-left-radius: 1rem;

        &--input {
            height: 4rem;
            border-radius: 1rem;
            outline: none;
            border: 1px solid grey;
            padding-left: 1.6rem;
        }
    }

    &__task {
        padding-left: 3.2rem;
        width: 20vw;
        height: 8rem;
        position: relative;
        background: white;

        &:last-child {
            border-bottom-left-radius: 1rem;
            border-bottom-right-radius: 1rem;
        }
    }

    &__checkbox {
        visibility: hidden;
        position: absolute;

        &:checked ~ .task-list__label {
            text-decoration: line-through;
        }

        &:checked ~ .task-list__radio {
            background: black;

            &::before {
                opacity: 1;
            }
        }

    }

    &__radio {
        display: inline-block;
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        width: 3.2rem;
        height: 3.2rem;
        border-radius: 1rem;
        border: 1px solid black;
        left: 10%;

        &::before {
            content: "";
            background: black;
            display: block;
            width: 1.6rem;
            height: 1.6rem;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            border-radius: 1rem;
            opacity: 0;
        }
    }

    &__label {
        cursor: pointer;
        position: absolute;
        width: 80%;
        height: 100%;
        align-items: center;
        display: grid;
        text-align: right;
        left: 50%;
        transform: translateX(-50%);
        border-bottom: 1px solid black;
        font-size: 2.4rem;
        user-select: none;
    }

    &__buttons {
        height: 8rem;
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 20vw;
        padding: 0 9%;
        margin: auto;
        background: white;
        margin: 0;
        border-radius: 1rem;
        position: absolute;
        bottom: 0;
    }

}