* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    transition: all 0.2s;
    font-family: 'Open Sans', sans-serif;
}

/*UNIVERSAL*/

.hidden {
    opacity: 0 !important;
    visibility: hidden !important;

    &__no-space {
        position: absolute !important;
    }
}

.blur {
    filter: blur(5px);
}

.active {
    background: rgba(0, 0, 0, 0.0) !important
}

.background {
    z-index: -100000000;
    width: 100%;
    height: 100%;
    background: url(../img/back01.jpg) no-repeat center center/cover;
    position: fixed;
    bottom: 0;
}

.btn {
    border: none;
    outline: none;
    cursor: pointer;
    border-radius: .5rem;
    width: 8rem;
    height: 2.5rem;
    font-weight: 800;
    text-transform: uppercase;

    &__add-task,
    &__new-task {
        border: 2px solid green;
        background: white;
        color: green;

        &:hover {
            background: green;
            color: white;
        }
    }

    &__delete-task {
        border: 2px solid red;
        background: white;
        color: red;

        &:hover {
            background: red;
            color: white;
        }
    }
}