* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', sans-serif;
}

html {
    font-size: 62.5%;
}

.body {
    background: $color-light-1;
    position: relative;
    height: 100vh;
}
/*UNIVERSAL*/

.inverse {
    background: $color-dark-1 !important;
    color: $color-white !important;

    &__cont {
        background: $color-dark-2 !important;
    }

    &__text {
        background: none !important;
        color: $color-white !important;
    }
}

.hidden {
    opacity: 0 !important;
    visibility: hidden !important;

    &__no-space {
        position: absolute !important;
    }
}

.active {
    background: rgba(0, 0, 0, 0.0) !important
}

.background {
    z-index: -100000000;
    width: 100%;
    height: 100%;
    background: url(../img/back01.jpg) no-repeat center center/cover;
    position: fixed;
    bottom: 0;
}

h3, p {
    font-size: 1.6rem;
}

.overflow-x__scroll {
    overflow-x: scroll;
}